# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore data files (optional, if you don't want to commit fetched data)
data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
